/* .App {
  text-align: center;
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
.Nav {
  text-align: center;
  font-size: 1.5rem;
  vertical-align: middle;
  margin: 1rem 0rem;
}
.Logo {
  margin: 1rem;
  vertical-align: middle;
  font-size: larger;
}
.menu {
  margin: 0.5rem 1rem 0rem 2rem;
  font-size: 1.5rem;
  float: right;
  vertical-align: middle;
}

.searchbar {
  justify-content: center;
  text-align: left;
  margin-left: 35rem;
}
.searchicon {
  margin-left: 5px;
  vertical-align: middle;
  padding: 1rem;
}
.inputtxt {
  padding: 1rem 2rem;
  width: 30rem;
  text-align: center;
  border-radius: 13px;
}
.list {
  text-align: center;
  margin-top: 2rem;
}
.text {
  margin-left: 35rem;
  margin-top: 1rem;
  text-align: left;
}
.searchtitle {
  margin-top: 5rem;
  text-align: left;
  margin-left: 48rem;
}
.texttitle {
  margin-left: 35rem;
  margin-top: 1rem;
  text-align: left;
  font-size: larger;
  font-weight: bold;
}
.textq {
  margin-left: 35rem;
  margin-top: 1rem;
  text-align: left;
  font-weight: bold;
}
.last {
  margin-bottom: 10rem;
  margin-left: 22rem;
} */
